In [1]:
import numpy as np
import pandas as pd
from scipy import stats

## ğŸ”¹ [í”¼ì…”ì˜ ì •í™• ê²€ì • ì‹¤ì „ ë¬¸ì œ]

### ğŸ“ ë¬¸ì œ:

í•œ ë³‘ì›ì—ì„œ **ì‹ ì•½ íˆ¬ì—¬ ì—¬ë¶€ì™€ ë¶€ì‘ìš© ë°œìƒ ì‚¬ì´ì˜ ê´€ê³„**ë¥¼ ì¡°ì‚¬í•˜ì˜€ë‹¤.  
ë‹¤ìŒì€ ì‹ ì•½ì„ íˆ¬ì—¬í•œ ê·¸ë£¹ê³¼ íˆ¬ì—¬í•˜ì§€ ì•Šì€ ê·¸ë£¹ ê°ê°ì—ì„œ ë¶€ì‘ìš©ì´ ë°œìƒí•œ íšŸìˆ˜ì´ë‹¤:

| ê·¸ë£¹ | ë¶€ì‘ìš© ë°œìƒ | ë¶€ì‘ìš© ì—†ìŒ | í•©ê³„ |
|------|-------------|--------------|------|
| ì‹ ì•½ íˆ¬ì—¬ | 1           | 9            | 10   |
| íˆ¬ì—¬ ì•ˆ í•¨ | 8           | 2            | 10   |

â†’ **ì‹ ì•½ íˆ¬ì—¬ì™€ ë¶€ì‘ìš© ë°œìƒì€ ê´€ë ¨ì´ ìˆëŠ”ê°€?** (ìœ ì˜ìˆ˜ì¤€ 0.05)

In [2]:
df = pd.DataFrame(
    [
        [1, 9],
        [8, 2]
    ],
    columns=['ë¶€ì‘ìš©ë°œìƒ', 'ë¶€ì‘ìš©ì—†ìŒ'],
    index=['íˆ¬ì—¬í•¨', 'íˆ¬ì—¬ì•ˆí•¨']
)
df

      ë¶€ì‘ìš©ë°œìƒ  ë¶€ì‘ìš©ì—†ìŒ
íˆ¬ì—¬í•¨       1      9
íˆ¬ì—¬ì•ˆí•¨      8      2

In [ ]:
H0 = 'ì‹ ì•½ íˆ¬ì—¬ì™€ ë¶€ì‘ìš© ë°œìƒì€ ê´€ë ¨ì´ ì—†ë‹¤ (ë…ë¦½ì ì´ë‹¤)'
H1 = 'ì‹ ì•½ íˆ¬ì—¬ì™€ ë¶€ì‘ìš© ë°œìƒì€ ê´€ë ¨ì´ ìˆë‹¤ (ë…ë¦½ì ì´ì§€ ì•Šë‹¤)'

In [4]:
oddsratio, p_value = stats.fisher_exact(df, alternative='two-sided')
print(f"p-value: {p_value:.4f}")
if p_value < 0.05:
    print(f"â†’ {H1}")
else:
    print(f"â†’ {H0}")

p-value: 0.0055
â†’ ì‹ ì•½ íˆ¬ì—¬ì™€ ë¶€ì‘ìš© ë°œìƒì€ ê´€ë ¨ì´ ìˆë‹¤ (ë…ë¦½ì ì´ì§€ ì•Šë‹¤)

## ğŸ”¹ [ì¹´ì´ì œê³± ë…ë¦½ì„± ê²€ì • ì‹¤ì „ ë¬¸ì œ]

### ğŸ“ ë¬¸ì œ:

í•œ ë¦¬ì„œì¹˜ íšŒì‚¬ëŠ” **ì„±ë³„ì— ë”°ë¼ ìŒë£Œ ì„ í˜¸ë„ì— ì°¨ì´ê°€ ìˆëŠ”ì§€**ë¥¼ ì¡°ì‚¬í–ˆë‹¤.  
ì´ 200ëª…ì„ ëŒ€ìƒìœ¼ë¡œ ë‹¤ìŒê³¼ ê°™ì€ ê²°ê³¼ê°€ ë‚˜ì™”ë‹¤:

| ì„±ë³„ | ì»¤í”¼ | íƒ„ì‚°ìŒë£Œ | ì£¼ìŠ¤ | ê³„ |
|------|------|-----------|------|----|
| ë‚¨ì„± | 40   | 30        | 20   | 90 |
| ì—¬ì„± | 25   | 45        | 40   |110 |
| ê³„   | 65   | 75        | 60   |200 |

In [5]:
columns = ['ì»¤í”¼', 'íƒ„ì‚°ìŒë£Œ', 'ì£¼ìŠ¤']
index = ['ë‚¨ì„±', 'ì—¬ì„±']
data = [
    [40, 30, 20],
    [25, 45, 40],
]
df = pd.DataFrame(
    data=data, columns=columns, index=index,
)
df

    ì»¤í”¼  íƒ„ì‚°ìŒë£Œ  ì£¼ìŠ¤
ë‚¨ì„±  40    30  20
ì—¬ì„±  25    45  40

In [6]:
H0 = 'ì„±ë³„ê³¼ ìŒë£Œ ì„ í˜¸ê°„ ìœ ì˜ë¯¸í•œ ì°¨ì´ê°€ ì—†ë‹¤.'
H1 = 'ì„±ë³„ê³¼ ìŒë£Œ ì„ í˜¸ê°„ ìœ ì˜ë¯¸í•œ ì°¨ì´ê°€ ìˆë‹¤.'

In [7]:
chi_statistic, p_value, dof, expected = stats.chi2_contingency(df)

In [8]:
# í†µê³„ê°’ ê²€ì •
chi_critical = stats.chi2.ppf(1 - 0.05, df=dof)

print(f'chi_statistic   : {chi_statistic}')
print(f'chi_critical    : {chi_critical}')

if chi_statistic < chi_critical:
    print(H0)
else:
    print(H1)

chi_statistic   : 11.240611240611242
chi_critical    : 5.99146454710798
ì„±ë³„ê³¼ ìŒë£Œ ì„ í˜¸ê°„ ìœ ì˜ë¯¸í•œ ì°¨ì´ê°€ ìˆë‹¤.

In [9]:
# p_value ê²€ì •
chi_critical = stats.chi2.ppf(1 - 0.05, df=dof)

print(f'p_value   : {p_value}')

if 0.05 < p_value:
    print(H0)
else:
    print(H1)

p_value   : 0.0036235335143025974
ì„±ë³„ê³¼ ìŒë£Œ ì„ í˜¸ê°„ ìœ ì˜ë¯¸í•œ ì°¨ì´ê°€ ìˆë‹¤.

In [10]:
# Ev_table
print('Observed Table')
display(df)
print('EV Table')
display(pd.DataFrame(expected, columns=df.columns, index=df.index))

Observed Table

    ì»¤í”¼  íƒ„ì‚°ìŒë£Œ  ì£¼ìŠ¤
ë‚¨ì„±  40    30  20
ì—¬ì„±  25    45  40

EV Table

       ì»¤í”¼   íƒ„ì‚°ìŒë£Œ    ì£¼ìŠ¤
ë‚¨ì„±  29.25  33.75  27.0
ì—¬ì„±  35.75  41.25  33.0

In [11]:
# í‘œì¤€í™” ì”ì°¨
residuals = (df - expected) / np.sqrt(expected)
print("Standardized Residuals")
display(pd.DataFrame(residuals, columns=df.columns, index=df.index))

Standardized Residuals

          ì»¤í”¼      íƒ„ì‚°ìŒë£Œ        ì£¼ìŠ¤
ë‚¨ì„±  1.987676 -0.645497 -1.347151
ì—¬ì„± -1.797920  0.583874  1.218544