## 1. 머신 러닝 (50점)
데이터 설명 : 학생의 결석횟수 등급을 예측하기 위한 예제 데이터이다.

In [19]:
import pandas as pd
raw_df = pd.read_csv('./../data/28_problem1.csv')
raw_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,reason,guardian,traveltime,studytime,failures,paid,activities,famrel,freetime,absences_grade
0,GP,F,18,U,GT3,A,4,4,course,mother,2,2,0,no,no,4,3,3.0
1,GP,F,17,U,GT3,T,1,1,course,father,1,2,0,no,no,5,3,2.0
2,GP,F,15,U,LE3,T,1,1,other,mother,1,2,3,yes,no,4,3,4.0
3,GP,F,15,U,GT3,T,4,2,home,mother,1,3,0,yes,yes,3,2,1.0
4,GP,F,16,U,GT3,T,3,3,home,father,1,2,0,yes,no,4,3,2.0

In [1]:
# 1. 데이터 전처리 및 시각화

In [2]:
# 1-1. EDA를 진행하고, 차원축소의 필요성이 있는지 판단하시오.

In [3]:
# 1-2. 데이터 품질을 개선할 수 있는 방법을 제안하고 데이터세트를 재생성하시오.

In [4]:
# 1-3. (2)에서 제시한 방법이 데이터 과적합이 된다는 가정하에 과적합을 해결할 수 있는 2가지 방안을 제시하고 각 방법의 장단점을 기술하시오.

In [5]:
# 2. 데이터 분석

In [6]:
# 2-1. 데이터세트를 기준으로 random forest, neural network, lighgbm 3가지 방식으로 
# 학교 결석 횟수 등급을 예측하는 모델을 만들고, f1 score로 모델을 평가하시오.

In [7]:
# 2-2. Hard Voting, Soft Voting의 장단점을 설명하고 2-1의 3가지 모델로 구현하시오.
# 그리고 두 방식의 f1-score를 비교하시오.

In [8]:
# 2-3. 총 5개 모델(RF,NN,LGBM,Hard Voting, Soft Voting) 중 
# 실시간 온라인 시스템에 가장 적합한 모델과 선정이유를 객관적으로 제시하시오.

In [9]:
# 3. 데이터 모델링

In [10]:
# 3-1. 적정 모델과 선정 및 모델링 과정에서 추가적으로 고려해볼 만한 사항을 설명하시오.

In [11]:
# 3-2. 모델을 학교 시스템에 적용하여 활용하려 한다. 모델 적용 및 운영과정에서 고려해볼 만한 사항을 설명하시오.

##  2. 통계분석 (50점)

In [12]:
# 1. 두 회사의 데이터를 분석하시오.
import pandas as pd
raw_df = pd.read_csv('./../data/28_problem4.csv')
raw_df.head()

   time(month) survival company
0           39        Y       B
1           29        Y       B
2           15        N       B
3           43        N       A
4            8        Y       A

In [13]:
df = raw_df.copy()

In [14]:
# 1-1. Kaplan Meier 방법을 사용하여 생존분석을 수행하고, 회사부품별 25,35,45개월 후의 생존확률을 구하시오.

In [15]:
# 1-2. 두 회사 간 생존시간 차이를 log-rank 방식으로 검정하시오. 가설설정, 통계량, 귀무가설 기각 여부를 판단하시오.

In [16]:
# 2. 28_problem5.csv 데이터는 구매한 사람들의 데이터이다.
# 시식 여부가 구매의사에 영향을 주는지 가설을 설정하고 분석하시오.
import pandas as pd
raw_df = pd.read_csv('./../data/28_problem5.csv')
raw_df

   시식전 시식후  유저아이디
0    Y   Y    ID1
1    N   Y    ID2
2    N   N    ID3
3    N   Y    ID4
4    Y   Y    ID5
..  ..  ..    ...
95   N   Y   ID96
96   Y   Y   ID97
97   Y   Y   ID98
98   Y   Y   ID99
99   Y   Y  ID100

[100 rows x 3 columns]

In [17]:
# 3. 2개의 고등학교 시험점수 데이터이다. 두 학교 시험점수의 분포 차이가 있는지 검정하시오.
# (단 각 학생의 성적은 독립이라고 가정.)
import pandas as pd
raw_df = pd.read_csv('./../data/28_problem6.csv')

In [18]:
# 4. 몸무게를 제어한다고 생각하고, 나이와 콜레스테롤 상관계수 및 유의확률을 구하시오.
import pandas as pd
raw_df = pd.read_csv('./../data/28_problem7.csv')
raw_df.head()

   age  Cholesterol  weight
0   61          255      56
1   71          241     114
2   44          271      59
3   73          257      87
4   80          259     112