In [1]:
import numpy as np
import pandas as pd

from scipy import stats

### ğŸ”¹ 1. ëŒ€ì‘í‘œë³¸ ì •ê·œì„± ë§Œì¡±

í•œ êµìœ¡ ì—°êµ¬ì†ŒëŠ” **AI í•™ìŠµ í”„ë¡œê·¸ë¨**ì´ í•™ìƒë“¤ì˜ **ë…¼ë¦¬ì  ì‚¬ê³ ë ¥ í–¥ìƒ**ì— íš¨ê³¼ê°€ ìˆëŠ”ì§€ ì•Œê³  ì‹¶ì–´ í•œë‹¤.  
20ëª…ì˜ í•™ìƒì„ ëŒ€ìƒìœ¼ë¡œ í”„ë¡œê·¸ë¨ **ì‹¤ì‹œ ì „ê³¼ í›„**ì— ë™ì¼í•œ ì‚¬ê³ ë ¥ í…ŒìŠ¤íŠ¸ë¥¼ ì‹¤ì‹œí–ˆë‹¤.  

ì•„ë˜ëŠ” ì„ì˜ë¡œ ì¶”ì¶œëœ 10ëª…ì˜ ì ìˆ˜ ì¼ë¶€ì´ë‹¤:

| í•™ìƒ | ì‚¬ì „ í…ŒìŠ¤íŠ¸ | ì‚¬í›„ í…ŒìŠ¤íŠ¸ |
|------|--------------|--------------|
| 1    | 72           | 75           |
| 2    | 68           | 74           |
| 3    | 70           | 70           |
| 4    | 65           | 68           |
| 5    | 73           | 78           |
| 6    | 69           | 71           |
| 7    | 74           | 76           |
| 8    | 67           | 70           |
| 9    | 71           | 74           |
| 10   | 66           | 69           |

In [2]:
H0 = 'ì‚¬ê³ ë ¥ í–¥ìƒì— ìœ ì˜ë¯¸í•œ ì˜í–¥ì´ ì—†ë‹¤.'
H1 = 'ì‚¬ê³ ë ¥ í–¥ìƒì— ìœ ì˜ë¯¸í•œ ì˜í–¥ì´ ìˆë‹¤.'

df = pd.DataFrame(
    [[1, 72, 75,],
     [2, 68, 74,],
     [3, 70, 70,],
     [4, 65, 68,],
     [5, 73, 78,],
     [6, 69, 71,],
     [7, 74, 76,],
     [8, 67, 70,],
     [9, 71, 74,],
     [10, 66, 69,]
     ],
    columns=['í•™ìƒ', 'ì‚¬ì „í…ŒìŠ¤íŠ¸', 'ì‚¬í›„í…ŒìŠ¤íŠ¸']
)

df

   í•™ìƒ  ì‚¬ì „í…ŒìŠ¤íŠ¸  ì‚¬í›„í…ŒìŠ¤íŠ¸
0   1     72     75
1   2     68     74
2   3     70     70
3   4     65     68
4   5     73     78
5   6     69     71
6   7     74     76
7   8     67     70
8   9     71     74
9  10     66     69

In [3]:
# ì •ê·œì„± ê²€ì •
_H0 = 'ì •ê·œì„±ì„ ë§Œì¡±í•œë‹¤.'
_H1 = 'ì •ê·œì„±ì„ ë§Œì¡±í•˜ì§€ ì•ŠëŠ”ë‹¤.'

df['diff'] = df['ì‚¬í›„í…ŒìŠ¤íŠ¸'] - df['ì‚¬ì „í…ŒìŠ¤íŠ¸']
statistic, p_value = stats.shapiro(df['diff'])
print(f'p_value :{p_value}')
if 0.05 < p_value:
    print(_H0)
else:
    print(_H1)

p_value :0.21059874267461046
ì •ê·œì„±ì„ ë§Œì¡±í•œë‹¤.

In [ ]:
# alternative='less' : (a-b)ê°€ 0ë³´ë‹¤ ì‘ì€ê°€.
statistic, p_value = stats.ttest_rel(df['ì‚¬ì „í…ŒìŠ¤íŠ¸'], df['ì‚¬í›„í…ŒìŠ¤íŠ¸'], alternative='less')

print(f'p_value : {p_value}')
if 0.05 < p_value:
    print(H0)
else:
    print(H1)

p_value : 0.00012820699140199507
ì‚¬ê³ ë ¥ í–¥ìƒì— ìœ ì˜ë¯¸í•œ ì˜í–¥ì´ ìˆë‹¤.

### ğŸ”¹ 1. ëŒ€ì‘í‘œë³¸ ì •ê·œì„± ë¶ˆë§Œì¡±

í•œ í”¼íŠ¸ë‹ˆìŠ¤ ì„¼í„°ëŠ” **8ì£¼ê°„ ìš´ë™ í”„ë¡œê·¸ë¨**ì´  
íšŒì›ë“¤ì˜ ì²´ì§€ë°©ë¥ ì— íš¨ê³¼ê°€ ìˆëŠ”ì§€ë¥¼ í™•ì¸í•˜ê³ ì í–ˆë‹¤.  
10ëª…ì˜ íšŒì›ì— ëŒ€í•´ ìš´ë™ **ì „í›„ ì²´ì§€ë°©ë¥ **ì„ ì¸¡ì •í–ˆë‹¤.

| íšŒì› | ìš´ë™ ì „ | ìš´ë™ í›„ |
|------|--------|---------|
| 1 | 25 | 23 |
| 2 | 28 | 25 |
| 3 | 27 | 26 |
| 4 | 30 | 27 |
| 5 | 26 | 24 |
| 6 | 29 | 28 |
| 7 | 24 | 22 |
| 8 | 31 | 29 |
| 9 | 28 | 27 |
|10 | 27 | 25 |

â†’ ìš´ë™ ì „í›„ ì²´ì§€ë°©ë¥ ì— **ìœ ì˜ë¯¸í•œ ì°¨ì´ê°€ ìˆëŠ”ê°€? (ìœ ì˜ìˆ˜ì¤€ 0.05)**

In [8]:
H0 = 'ìš´ë™ ì „í›„ ì²´ì§€ë°©ë¥ ì— ìœ ì˜ë¯¸í•œ ì°¨ì´ê°€ ì—†ë‹¤.'
H1 = 'ìš´ë™ ì „í›„ ì²´ì§€ë°©ë¥ ì— ìœ ì˜ë¯¸í•œ ì°¨ì´ê°€ ìˆë‹¤.'

df = pd.DataFrame(
    [[1, 25, 23],
     [2, 28, 25],
     [3, 27, 26],
     [4, 30, 27],
     [5, 26, 24],
     [6, 29, 28],
     [7, 24, 22],
     [8, 31, 29],
     [9, 28, 27],
     [10, 27, 25]],
    columns=['íšŒì›', 'ìš´ë™ì „', 'ìš´ë™í›„'])
df

   íšŒì›  ìš´ë™ì „  ìš´ë™í›„
0   1   25   23
1   2   28   25
2   3   27   26
3   4   30   27
4   5   26   24
5   6   29   28
6   7   24   22
7   8   31   29
8   9   28   27
9  10   27   25

In [10]:
# ì •ê·œì„± ê²€ì •
_H0 = 'ì •ê·œì„±ì„ ë§Œì¡±í•œë‹¤.'
_H1 = 'ì •ê·œì„±ì„ ë§Œì¡±í•˜ì§€ ì•ŠëŠ”ë‹¤.'

df['diff'] = df['ìš´ë™í›„'] - df['ìš´ë™ì „']
statistic, p_value = stats.shapiro(df['diff'])

print(f'p_value :{p_value}')
if 0.05 < p_value:
    print(_H0)
else:
    print(_H1)

p_value :0.03586421822449294
ì •ê·œì„±ì„ ë§Œì¡±í•˜ì§€ ì•ŠëŠ”ë‹¤.

In [11]:
statistic, p_value = stats.wilcoxon(df['ìš´ë™ì „'], df['ìš´ë™í›„'], alternative='two-sided')

print(f'p_value : {p_value}')
if 0.05 < p_value:
    print(H0)
else:
    print(H1)

p_value : 0.001953125
ìš´ë™ ì „í›„ ì²´ì§€ë°©ë¥ ì— ìœ ì˜ë¯¸í•œ ì°¨ì´ê°€ ìˆë‹¤.